<footer class="page-footer black">

  <div class="footer-copyright">
    <div class="container">
    Webmaster: <%= mail_to("chaddad@andrew.cmu.edu", "Casey Al-Haddad", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2018
    </div>
  </div>
</footer>
