<body id="guestBod" >
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 id="newTitle"> A and M Chess Camp </h2>

  <br id="topLine">
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>





  <div class="row" id="start">


    <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "strats.jpg" %>
          <span class="card-title">Curriculums</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p> We offer a large set of chess curriculums. From Begginnings of Chess to Indian-Nimzo Defense, we cover it all. Curriculums are tailored to different skill levels, so kids can compete with students of the same experience and skill level. Feel free to browse our extisive list of active curriculums!</p>
        </div>
      </div>
    </div> 

    <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "playing.jpeg" %>
          <span class="card-title"> Camps </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p> Camps run all summer and are suitable for students k-12. Take a look at our upcoming camps! </p>
        </div>
      </div>
    </div>



  </div>


<div class="center-align">
  <div class="card">
    <div class="card-content">
      <h4> Information </h4>
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">About Us</a></li>
        <li class="tab"><a href="#test5">Contact</a></li>
        <li class="tab"><a href="#test6">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
    </div>
  </div>
</div>


	
</body>