<body id="guestBod" >
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 id="newTitle"> A and M Chess Camp </h2>

  <br id="topLine">
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  


  <div class="row" id="start">


    <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "strats.jpg" %>
          <span class="card-title">Curriculums</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p> We offer a large set of chess curriculums. From Begginnings of Chess to Indian-Nimzo Defense, we cover it all. Curriculums are tailored to different skill levels, so kids can compete with students of the same experience and skill level. Feel free to browse our extisive list of active curriculums!</p>
        </div>
      </div>
    </div> 

    <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "playing.jpeg" %>
          <span class="card-title"> Camps </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p> Camps run all summer and are suitable for students k-12. Take a look at our upcoming camps! </p>
        </div>
      </div>
    </div>



  </div>


<div class="center-align">
  <div class="card">
    <div class="card-content">
      <h4> Information </h4>
      <p> The A&amp;M Chess Camp (named after the founds, Alex and Mark Heimann) is one of the <b>premiere chess camps</b> for youth this side of the Mississippi. Our instructors have years of experience playing and love to share their <b>wisdom</b> and <b>enthusiasm</b> for the game with students of all levels.</p></p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">About Us</a></li>
        <li class="tab"><a href="#test5">Contact</a></li>
        <li class="tab"><a href="#test6">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">
            <p>Gradmaster Dr. Siegbert Tarrasch once said "Chess, like love, like music, has the power to make us happy". This has become our motto over the years, as each time one of our students succeeds we are reminded of what our true passion in life really is: sharing the wonders of chess.</p>
    <p>To give some background, A&amp;M Chess Camp got its start, of all places, in the basement of USCF Chess Masters' Alex and Mark Heimann's home. Trained by their father, Prof H, since before they could crawl, Alex and Mark are experienced beyond their years at the game. Having swept the competition at a plethora of national tournaments, the twins founded this school to teach others their secrets to success <em>(and to help pay for their tuition as well!)</em></p>
      </div>

      <div id="test5">
          <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td> Casey Al-Haddad </td>
          </tr>
          <tr>
            <td>Email: &nbsp;&nbsp;&nbsp; </td>
            <td> casey.alhaddad@gmail.com 
            <%= mail_to("casey.alhaddad@gmail.com", "Casey Al-Haddad", :encode => "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-268-8211</td>
          </tr>
        </table>
       </div>

      <div id="test6">
            <p>The Chess Camp privacy policy is very simple, rarely  
      changes, and does not require a lawyer to understand it.  
      We will pounce on the opportunity to sell every bit of information 
      on you they have at our disposal.  We will gladly sell your address, 
      phone, email, age, name of pet, name of favorite superhero, color of 
      bunny slippers you wear at home, and the like, to any willing buyer 
      who will pay the big bucks.  (BTW, we <em>know</em> you wear bunny 
      slippers at home and we know what color they are.  You really have 
      no secrets from this crew.)  If you have sensitive information that 
      you don't want us to share with the world, then keep it to yourself 
      -- don't tell us.  
      <br><br>
      It's really that simple.
    </p>
      </div>
    </div>
  </div>
</div>


	
</body>