<div class="navbar-fixed">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          <a href="https://codepen.io/collection/nbBqgY/" class="brand-logo" target="_blank">Materialize Framework</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
            <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
            <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
          </ul>
        </div>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
        <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
      </ul>
    </div>
  </nav>
</div>





<!-- Gitter Chat Link -->
<div class="fixed-action-btn"><a class="btn-floating btn-large red" href="https://gitter.im/Dogfalo/materialize"><i class="large material-icons">chat</i></a></div>
 