<nav id="nav" class="black">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'My Account', edit_user_path(current_user) %></li>
      <% if session[:cart] != nil %>
      	<li><%= link_to "Cart (#{session[:cart].length})" , carts_path %></li>
      <% end %>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>  